<b>Only use that report feature, if the support ask for it!</b><br>
It's will collect some information about your system like OS Version and Hardware.<br>
And its includes the logfiles from OotModloader.<br>
<b>We do not collect any personal data!</b><br>
The data will uploaded to <a href="https://privatebin.net/">https://privatebin.net/</a> (<b><u>We have no connection with this project.</b></u>)<br>
Then you upload your data, you accept that conditions.<br>
You can view the report beforehand to check it.<br>
<button class="btn btn-success">View report</button>
<button class="btn btn-warning">Upload the report</button>


<h2>Your report was uploaded!</h2>
<div class="form-group row">
  <label for="staticEmail" class="col-sm-2 col-form-label">Send the following link to support</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="room-name" value="https://privatebin.net/?f79e9a267aab05c9#CV4C60Bu0mWSHBqh5yovsxUlKn88ZS7UQzjkYA1rmJo=" readonly>
  </div>
</div>
