<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Profile</label>
    <div class="col-sm-5">
      <select class="form-control">
        <option>TheCherry</option>
      </select>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-sm btn-info"><span class="oi oi-pencil"></span> Edit</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="room-name" value="test-room-01">
    </div>
    <div class="col-sm-5">
      <button class="btn btn-warning"><span class="oi oi-eye"></span> Generate</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" placeholder="Password" value="1234">
    </div>
    <div class="col-sm-5">
      <button class="btn btn-warning"><span class="oi oi-eye"></span> Password</button>
    </div>
  </div>
</form>
