<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Profile</label>
    <div class="col-sm-5">
      <select class="form-control">
        <option>TheCherry</option>
      </select>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-sm btn-info"><span class="oi oi-pencil"></span> Edit</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="room-name" value="test-room-01">
    </div>
    <div class="col-sm-5">
      <button class="btn btn-warning" id="generate-name"><span class="oi oi-circle"></span> Generate</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="room-description" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" placeholder="Password" value="1234">
    </div>
    <div class="col-sm-5">
      <button class="btn btn-warning"><span class="oi oi-eye"></span> Password</button>
    </div>
  </div>

  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">ROM</label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>Oot-USA-1.0.n64</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">  ROM HASH</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="room-name" value="eb2d4ce64a082ecedbabf2a4adb362c005120478989767b7c7e2ffa56946ff21" readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">MOD</label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>None</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">  MOD HASH</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="room-name" value="---" readonly>
    </div>
  </div>

</form>
