<div class="row">
  <div class="col">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Server</label>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="server-selected">
          Action
        </button>
        <div class="dropdown-menu" id="server-list">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
      <button class="btn btn-sm btn-primary"><span class="oi oi-pencil"></span> Edit</button>
      <button class="btn btn-sm btn-primary"><span class="oi oi-delete"></span> Delete</button>
    </div>
</div>
<div class="row">
    <!-- <div class="col-2"> -->
    <!-- </div> -->
    <div class="col-10">
      <button class="btn btn-sm btn-primary my-1 mr-2"><span class="oi oi-loop-circular"></span></button>
        <label class="sr-only" for="filter-value">Search</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="filter-value" placeholder="Search">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
      <div id="example-table"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" id="btn-create">Create Game</button> <button class="btn btn-primary" id="btn-join">Join Game</button>
  </div>
</div>
